<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario </title>
</head>
<body>
  <h1 class="registro">Registro</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form">
    <label for="nombres">Nombres:</label>
    <input type="text" formControlName="nombres">
  
    <label for="primerApellido">Primer Apellido:</label>
    <input type="text" formControlName="primerApellido">
  
    <label for="segundoApellido">Segundo Apellido:</label>
    <input type="text" formControlName="segundoApellido">
  
    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" formControlName="fechaNacimiento">
  
    <label for="correoElectronico">Correo Electrónico:</label>
    <input type="email" formControlName="correoElectronico">
  
    <label for="contrasena">Contraseña:</label>
    <input type="password" formControlName="contrasena">
  
    <label for="confirmarContrasena">Confirmar Contraseña:</label>
    <input type="password" formControlName="confirmarContrasena">
  
  
    <button type="submit" routerLink="/home">Registrarse</button>
  </form>
  
</body>
</html>